@import '../../color.scss';
$footer-margin: 51.4rem;
.p-footer {
    &.top {
        background: $bk;
    }
    padding-top: 0;
    &__map-area {
        margin-bottom: calc($footer-margin / -2);
        margin-right: auto;
        margin-left: auto;
        width: calc(100% - min(5.5vw, 8rem) - min(5.5vw, 8rem));
        @include sp {
            width: calc(100% - min(calc(20 / 375 * 100vw), 2rem) - min(calc(20 / 375 * 100vw), 2rem));
        }
    }
    &__iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 1280 / 514;
        @include sp {
            aspect-ratio: 375 / 500;
            max-height: 50rem;
        }
    }
    &__container {
        width: 100%;
        padding-top: calc($footer-margin / 2 + 8rem);
        background: url('/common/footer/bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: min(5.5vw, 8rem);
        padding-right: min(5.5vw, 8rem);
        @include sp {
            padding-left: min(calc(20 / 375 * 100vw), 2rem);
            padding-right: min(calc(20 / 375 * 100vw), 2rem);
            padding-top: calc($footer-margin / 2 + 4rem);
        }
    }
    &__main-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8rem;
        @include sp {
            flex-direction: column;
            padding-bottom: 4rem;
        }
    }
    &__logo-area {
        width: 21.4rem;
        aspect-ratio: 214 / 95.86;
        @include sp {
            width: 14rem;
        }
    }
    &__detail {
        margin-top: 6.4rem;
        @include sp {
            margin-top: 2.4rem;
        }
        &__title,
        &__text {
            padding: .6rem 0;
            white-space: pre-wrap;
            line-height: 1.4;
        }
        &__title {
            padding-right: 4rem;
            @include sp {
                padding-right: 2.4rem;
            }
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        @include sp {
            padding-top: 2.4rem;
            align-items: flex-start;
            gap: 1.2rem;
        }
    }
    &__sub-logo-area {
        width: 10.9rem;
        aspect-ratio: 1 / 1;
        @include sp {
            width: 7rem;
            display: none;
        }
    }
    &__parent-company {
        display: flex;
        flex-direction: column;
        text-align: right;
        gap: .8rem;
        @include sp {
            text-align: left;
        }
    }
    &__sub-content-area {
        border-top: 0.1rem solid $wh;
        padding: 4rem 0;
        @include sp {
            padding: 2.4rem 0;
        }
    }
    &__list {
        display: flex;
        gap: 2.4rem;
        @include sp {
            gap: 1.6rem;
        }
    }
}