.p-subpage-mv {
  &__container {
    position: relative;
    width: 100%;
    padding: 28rem calc(70 / 1280 * 100%) 8rem;
    display: flex;
    justify-content: center;
    @include sp {
      padding: 12rem min(calc(20 / 375 * 100vw), 2rem) 4rem;
    }
  }
  &__title {
    display: inline-flex;
    flex-direction: column;
  }
  &__title-mount {
    width: 5rem;
    height: auto;
    aspect-ratio: 283 / 82.4;
    margin: 0 auto 2.4rem;
    @include sp {
      width: 3rem;
    }
  }
  &__title-img {
    width: auto;
    height: 5.65rem;
    object-fit: contain;
    margin: 0 auto;
    @include sp {
      height: 4rem;
    }
  }
}

