.p-concept-mv {
    &__container {
        position: relative;
        width: 100%;
        padding: 20rem calc(70 / 1280 * 100%) 8rem;
        @include sp {
            padding: 4rem min(calc(20 / 375 * 100vw), 2rem) 0rem;
            display: flex;
            flex-direction: column;
        }
    
    }
}
.c-concept-mv-title {
    width: auto;
    height: 6.65rem;
    aspect-ratio: 337.51 / 66.5;
    margin: 0 auto;
    // @include sp {
    //     font-size: 2.4rem;
    // }

}