.p-recruit-message {
    &__container {
        margin-right: auto;
        margin-left: auto;
        max-width: 144rem;
        padding-left: min(calc(190 / 1440 * 100%), 19rem);
        padding-right: min(calc(190 / 1440 * 100%), 19rem);
        @include sp {
            padding-top: 0rem;
            padding-bottom: 6.4rem;
            padding-left: min(calc(20 / 375 * 100%), 2rem);
            padding-right: min(calc(20 / 375 * 100%), 2rem);
        }
    }
    &__text-area {
        text-align: center;
    }
    &__text {
        margin-top: 4rem;
        @include sp {
            margin-top: 2.4rem;
        }
    }

}