@import '../../color.scss';
.p-recruit-recruit-info {
  &__container {
    padding-top: 12rem;
    padding-bottom: 12rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 144rem;
    padding-left: min(calc(190 / 1440 * 100%), 19rem);
    padding-right: min(calc(190 / 1440 * 100%), 19rem);
    @include sp {
      padding-top: 0rem;
      padding-bottom: 6.4rem;
      padding-left: min(calc(20 / 375 * 100%), 2rem);
      padding-right: min(calc(20 / 375 * 100%), 2rem);
    }
  }
  &__title {
    height: 4.2rem;
    @include sp {
      height: 3rem;
    }
  }
  &__content {
    width: 100%;
    padding-top: 4rem;
    padding-left: min(calc(20 / 1440 * 100%), 2rem);
    padding-right: min(calc(20 / 1440 * 100%), 2rem);
    @include sp {
      padding-left: min(calc(10 / 375 * 100%), 1rem);
      padding-right: min(calc(10 / 375 * 100%), 1rem);
    }
  }
  &__name {
    // padding-left: 2rem;
  }
  &__description {
    padding-top: 1.2rem;
  }
  &__table {
    margin-top: 1.6rem;
    width: 100%;
    border-collapse: collapse;
  }
  &__tr {
    width: 100%;
  }
  &__tr + &__tr {
    border-top: 2px solid rgba($gray, 0.3);
  }
  &__th-first {
    padding: 1.8rem 0 1.8rem 3.2rem;
    width: 30%;
    background-color: rgba($bk, 0.2);
    border-right: 2px solid rgba($gray, 0.3);
    @include sp {
      width: 35%;
      padding-left: 1.2rem;
    }
  }
  &__td-first {
    width: 70%;
    padding: 1.8rem 0 1.8rem 2.4rem;
    white-space: pre-wrap;
    @include sp {
      width: 65%;
      padding-left: 1.2rem;
      padding-right: 0rem;
    }
  }
  &__th {
    padding: 1.8rem 0 1.8rem 3.2rem;
    width: 30%;
    background-color: rgba($gray, 0.5);
    border-right: 2px solid rgba($gray, 0.5);
    @include sp {
      width: 35%;
      padding-left: 1.2rem;
    }
  }
  &__td {
    width: 70%;
    padding: 1.8rem 0 1.8rem 2.4rem;
    white-space: pre-wrap;
    @include sp {
      width: 65%;
      padding-left: 1.2rem;
      padding-right: 0rem;
    }
  }
  &__name:not(:first-child) {
    padding-top: 0.8rem;
  }
  &__name {
    font-weight: $medium;
    padding-bottom: 0.4rem;
  }
  &__department {
    padding-left: 2.4rem;
    font-size: clamp(1.2rem, calc(14 / 1440 * 100vw), 1.4rem);
  }
  &__caption {
    font-size: clamp(1rem, calc(12 / 1440 * 100vw), 1.2rem);
  }
  &__imgArea {
    margin-top: 2.4rem;
    margin-left: auto;
    width: 70%;
  }
  &__img {
    width: 100%;
    height: auto;
  }
}
