.p-top-menu {
    padding-top: 8rem;
    padding-left: min(5.5vw, 8rem);
    padding-right: min(5.5vw, 8rem);
    max-width: 144rem;
    margin: 0 auto;
    @include sp {
        padding-top: 4rem;
        padding-left: min(calc(20 / 375 * 100vw), 2rem);
        padding-right: min(calc(20 / 375 * 100vw), 2rem);
    }
    &__title {
        height: 4.2rem;
        @include sp {
            height: 2.8rem;
        }
    }
    &__list {
        padding-top: 5.6rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: calc(40 / 1280 * 100%);
        row-gap: 2.4rem;
        @include sp {
            padding-top: 3.2rem;
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__item {
        &__container {
            width: 100%;
            text-align: center;
        }
        &__img-area {
            width: 100%;
            height: auto;
            aspect-ratio: 400 / 266;
        }
        &__img {
            width: auto;
            height: 100%;
            object-fit: cover;
        }
        &__name {
            margin-top: 1.8rem;
            white-space: pre-wrap;
            @include sp {
                margin-top: 1.2rem;
            }
        }
        &__price {
            margin-top: 1.2rem;
            @include sp {
                margin-top: .8rem;
            }
        }
    }
    &__button-area {
        display: flex;
        justify-content: right;
        padding-top: 4rem;
        @include sp {
            padding-top: 3.2rem;
        }
    }
}