.p-top-message {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding-top: 27rem;
        padding-bottom: 27rem;
        @include sp {
            padding: 18rem 0;
        }
    }
    &__left-img-area {
        width: 30rem;
        aspect-ratio: 30 / 44.8;
        position: absolute;
        top: 8rem;
        left: 0;
        z-index: 1;
        @include sp {
            width: 13rem;
            top: 2rem;
        }
    }
    &__right-img-area {
        width: 41rem;
        aspect-ratio: 41 / 29;
        position: absolute;
        bottom: 4rem;
        right: 0;
        z-index: 1;
        @include sp {
            width: 25rem;
            bottom: -2rem;
        }
    }
    &__content-area {
        position: relative;
        z-index: 2;
    }
    &__title-area {
        text-align: center;
    }
    &__title {
        width: auto;
        height: 4.2rem;
        aspect-ratio: 521 / 50.16;
        @include sp {
            height: 3rem;
        }
    }
    &__text-area {
        margin-top: 4rem;
        @include sp {
            margin-top: 2.4rem;
        }
    }
    &__text {
        text-align: center;
    }
    &__button-area {
        margin-top: 2.4rem;
        @include sp {
            margin-top: 1.6rem;
        }
    }
    &__button {
        margin: 0 auto;
    }
}